<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<!-- <property name="hibernate.connection.url">jdbc:mysql://yokudbinstance.cqduivf0dksm.us-east-1.rds.amazonaws.com:3306/yoku?</property> 
			<property name="hibernate.connection.url">jdbc:mysql://yoku.clvrvxentsq0.us-west-2.rds.amazonaws.com:3306/yoku?</property> 
			<property name="hibernate.connection.username">yokuadmin</property> <property 
			name="hibernate.connection.password">yoku2015!</property> -->

		<property name="hibernate.connection.url">jdbc:mysql://192.168.0.102:3306/yoku</property>
		<property name="hibernate.connection.username">niraj</property>
		<property name="hibernate.connection.password">niraj</property>

		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- List of XML mapping files -->

		<mapping class="com.yoku.server.framework.entity.merchant.Merchant" />

		<mapping
			class="com.yoku.server.framework.entity.merchant.MerchantPrimaryDetails" />

		<mapping
			class="com.yoku.server.framework.entity.merchant.MerchantBusinessDetails" />

		<mapping
			class="com.yoku.server.framework.entity.merchant.MerchantPaymentDetails" />

		<mapping class="com.yoku.server.framework.entity.common.product.Product" />

		<mapping
			class="com.yoku.server.framework.entity.common.product.ProductFashion" />

		<mapping
			class="com.yoku.server.framework.entity.common.product.ProductGrocery" />

		<mapping
			class="com.yoku.server.framework.entity.common.product.ProductRestaurant" />

		<mapping class="com.yoku.server.framework.entity.merchant.MerchantMaster" />

		<mapping class="com.yoku.server.framework.entity.merchant.MerchantMasterKey" />

		<mapping class="com.yoku.server.framework.entity.common.order.OrderDetails" />

		<mapping
			class="com.yoku.server.framework.entity.common.order.OrderDetailsKey" />

		<mapping class="com.yoku.server.framework.entity.common.order.Order" />

		<mapping class="com.yoku.server.framework.entity.common.order.OrderKey" />
		<mapping class="com.yoku.server.framework.entity.common.Address" />
		<mapping class="com.yoku.server.framework.entity.common.AddressKey" />
		<mapping class="com.yoku.server.framework.entity.customer.Customer" />
		<mapping class="com.yoku.server.framework.entity.customer.CustomerKey" />
		<mapping class="com.yoku.server.framework.entity.customer.CustomerMaster" />
		<mapping class="com.yoku.server.framework.entity.customer.CustomerMasterKey" />
		<mapping
			class="com.yoku.server.framework.entity.common.product.ProductSubCategory" />
		<mapping
			class="com.yoku.server.framework.entity.common.product.MerchantBusinessViewEntity" />
		<mapping class="com.yoku.server.framework.entity.common.Address" />
		<mapping class="com.yoku.server.framework.entity.common.AddressKey" />
		<mapping class="com.yoku.server.framework.entity.common.Location" />
		<mapping class="com.yoku.server.framework.entity.common.LocationKey" />


	</session-factory>
</hibernate-configuration>